:root{
    --marrom: #5B4328;
    --marrom-claro: #88100F;
}

body{
    font-family: Verdana;
}

.centro{
    text-align: center;
}

h1{
    font-size: 22px;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: var(--marrom-claro);
}

h3{
    font-size: 16px;
    color: var(--marrom-claro);
    text-decoration: underline;
}

p{
    font-size: 14px;
    line-height: 28px;
}