@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body{
    background-color: #1D232A;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.cabecalho{
    display: flex;
}

.cabecalho__menu{

}

.cabecalho__notificacao{
    
}