.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

@media (min-width: 720px){
    .menu{
        column-gap: 75px;
    }
}

@media (min-width: 1440px){
    .menu{
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    
}