    .banner{
        display: grid;
        gap: 1rem;
    }
    
    .banner img:nth-child(1){
        grid-column: 1/3;
    }
    
    .banner img:nth-child(4){
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .eventos__item{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto repeat(2, 1fr) auto;
        grid-template-areas: 
        "imagem imagem"
        "nome nome"
        "data data"
        "cidade botao";
    }

    .eventos__item img{
        grid-area: imagem;
    }

    .eventos__item h3{
        grid-area: nome;
    }

    .eventos__item h4{
        grid-area: data;
    }

    .eventos__item h5{
        grid-area: cidade;
    }

    .eventos__item btn{
        grid-area: botao;
    }

    .agenda__lista{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "imagem imagem"
        "data dia";
    }

    .agenda__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .agenda__item img {
        grid-column: 1/ 3;
    }
    
@media (min-width: 720px){
    .banner{
        grid-template-columns: calc(50% - 0.75rem) auto auto;
        column-gap: 1.5rem;
    }
    
    .banner img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .banner img:nth-child(4){
        grid-column: 3/4;
        grid-row: 1/3;
    }
    
}
