body{
    background-color: #f5f5f5;
    margin: 0;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

div{
    padding: 50px;
    border-top: 1px solid #d5d5d5;
}

img{
    width: 190px;
}

h2{
    font-size: 24px;
}

p{
    text-align: justify;
    line-height: 28px;
    width: 930px;
    margin: 15px auto 30px auto;
}

a{
    background-color: #49b970;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
}

h3{
    font-size: 20px;
}

span{
    font-weight: bold;
}