body{
 background-color: #f1f1f1;
}

img{
    width: 190px;
}

div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

div:last-of-type{
    margin-bottom: 30px;
}

h1{
    font-size: 24px;
    font-family: Verdana;
    color: #606062;
    padding: 10px;
    border: 5px solid #606062;
}


h2{
    font-size: 20px;
    font-family: Verdana;
    color: #7a797b;
    margin: 35px 20px;
}

div.divisao{
    border-top: 1px solid black;
}

h3{
    font-size: 18px;
    font-family: Verdana;
    font-weight: normal;
    color: #606062;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
}

p{
    font-size: 18px;
    font-family: Verdana;
    text-align: justify;
    line-height: 32px;
    color: #616163;
    margin-bottom: 35px;
}

span{
    font-weight: bold;
    color: red;
}

a{
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin: 15px 0;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
    opacity: 0.6;
}

a:hover{
    opacity: 1;
    transition: 0.3s;
}