* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: "Source Sans 3", sans-serif; */
}

.largura {
    width: 1024px;
}

.centralizar {
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: #00cad1;
    display: flex;
    justify-content: center;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
}

nav a:hover {
    color: #000;
    backgro
}

main {
    color: #0000008c;
}

.titulo-fundo {
    width: 100%;
    height: 50vh;    
    background-image: url('assets/recepcao.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-banner {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}

.titulo-fundo h1 {
    margin: 0 auto;
}

.artigo-sobre {
    margin: 20px auto;
    text-align: center;
}

.artigo-sobre p {
    margin: 15px auto;
}

.beneficios {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.beneficios-lista h2 {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
}

.container-imagem {
    display: flex;
    margin: 10px auto 40px;
}

.imagem-especialidade {
    width: 480px;
    border-color: 1px 1px 1px #000;
    border-radius: 10px;
    margin: auto 10px;
}

.container-imagem img {
    width: 100%;
}

.container-imagem figcaption {
    text-align: center;
    padding: 10px;
}

.botao-horarios {
    background-color: #00ccd3;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;

}

iframe {
    width: 100%;
    margin-bottom: 20px;
}

/* especialidades.html */

.link-especialidades a {
    color: black;
    border-bottom: 2px solid #0c6e71;
}

.link-especialidades a:hover {
    color: #00cad1;
    border-bottom: 2px solid black;
}

.margens-texto {
    margin: 20px auto;
}

.flex-tabelas {
    display: flex;
    margin-bottom: 20px;
}

.flex-tabelas img {
    width: 50%;
    height: 350px;
}

.flex-tabelas table {
    width: 50%;
}

thead {
    background-color: #00cad1;
    color: #fff;
}

tbody td {
    padding: 10px 0;
}

tbody tr:nth-child(odd) {
    background-color:#cdcdcd;
}

tbody tr:nth-child(even) {
    background-color:#f1f1f1;
}

footer {
    background-color: #0c6e71;
    color: #fff;
    padding-bottom: 20px;
    font-size: 18px;
}

.rodape {
    margin: 0 auto;
    text-align: center;
}

.rodape img {
    width: 218px;
    margin: 0px;
}

.rodape p {
    padding: 10px 0;
}

@media screen and (max-width: 314px){
    * {
        width: 100%;
    }

    .topo nav {
        flex-direction: column;
        justify-content: center;
        background-color: red;
    }

    .rodape img {
        width: 80vw;
    }
}

/* mobile */
@media screen and (max-width: 559px) 
/* @media screen and (max-width: 425px)  */
{

    .largura {
        width: 100%;
    }

    /* .margem-lateral {
        margin: 0 10px;

    } */

    .artigo-sobre {
        margin: auto 10px;
    }

    .topo {
        display: flex;
        flex-direction: column;
    }

    .topo nav {
        border-top: 1px solid black;
        padding-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .titulo-fundo {
        height: 200px;
    }

    .titulo-banner {
        padding-left: 20px;
    }

  ul {
    list-style-position: inside;
  }

    .beneficios img, .flex-tabelas img {
        display: none;
    }

    .flex-tabelas {
        width: 100%;
    }

    .container-imagem {
        display: block;
        margin: 0 auto;
        /* width: 100%; */
    }

    .imagem-especialidade {
        margin: 10px auto;
        width: 100%;
    }

}

/* tablet */
@media screen and (max-width: 768px) {
    
    .topo {
       /* margin: 0 auto; */
       display: flex;
       justify-content: space-around;
    }
    
    .largura {
        width: 100%;
    }

    .titulo-fundo {
        height: 300px;
    }

    .titulo-banner {
        padding-left: 20px;
    }

    .artigo-sobre {
        margin: 20px auto;
    }

    .beneficios img, .flex-tabelas img {
        display: none;
    }

    .flex-tabelas table {
        width: 100%;
    }

    .container-imagem {
        display: flex;
        flex-wrap: wrap;
        width: calc((100%/2)-3px);
        margin: 0 1.5px 40px;
        justify-content: center;
    }

    .imagem-especialidade {
        width: 300px;
        
    }

    .imagem-especialidade  {
        margin-top: 10px;
    }


}

@media screen and (max-width: 1024px) {

    .topo {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
     }

    .largura {
        width: 100%;
    }

    .titulo-fundo {
        height: 400px;
    }

    .titulo-banner {
        padding-left: 20px;
    }
}

@media screen and (min-width: 1056px) {
    .topo {
  
        display: flex;
        justify-content: space-around;
     }
} 
